In [1]:
print('Hello World')

Hello World

In [3]:
x = 2
y = 3

In [5]:
x+y

5

In [19]:
x + y
x - y

-1

In [23]:
print(x+y)
x-y

5

-1

In [25]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [27]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [29]:
mynums?

Type:        list
String form: [1, 2, 3, 4, 5]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [33]:
import pandas as pd

In [35]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [37]:
mynums.sort(reverse=True)
mynums

[5, 4, 3, 2, 1]

In [39]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [41]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [43]:
%debug

> /var/folders/jw/47kdfrw50tqfgt4_fjl484000000gn/T/ipykernel_1503/1746220672.py(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb>  x

2

ipdb>  y

0

ipdb>  exit()

In [45]:
import pandas as pd

In [47]:
import codecademylib3

ModuleNotFoundError: No module named 'codecademylib3'

In [53]:
import pandas as pd

df1 = pd.DataFrame({
    'Product ID':[1, 2, 3, 4],
    'Product Name':['t-shirt','t-shirt', 'skirt','skirt'],
    'Color':['blue','green','red','black']

})

print(df1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black